/* Estilo para la fuente general*/ 
body{
    font-size: 1.5em;
}
/* Alineación del texto dentro de los artículos */ 
article{
    text-align: center;
}
/* Estilo negrita para los span dentro de los artículos */ 
span{
    font-weight: bold;
}
/* Estilo para las imágenes*/
img{
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}
/* Estilo para el contenedor de artículos */
.formatoArticulos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}