.centrado{
    text-align: center;
}
.negrita{
    font-weight: bold;
}
.foto{
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}
#contenedor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}